.background-Image {
  background-image: url("../../assets/background-Image/bg-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-crypto {
  font-size: 100px;
  color: white;
}

.text-blockchain {
  font-size: 50px;
  color: #ffba00;
}

.btn-detail {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 50px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  line-height: 1;
  color: #fff;
  border: 2px solid;
}
.btn-detail:hover {
  color: #ffba00;
  border: 2px solid #ffba00;
}
@media (max-width: 1366px) {
  .text-crypto {
    font-size: 80px;
    color: white;
    /* text-align: center; */
  }

  .text-blockchain {
    font-size: 40px;
    /* text-align: center; */
    color: #ffba00;
  }
}
@media (max-width: 1024px) {
  .text-crypto {
    font-size: 60px;
    color: white;
    /* text-align: center; */
  }

  .text-blockchain {
    font-size: 40px;
    /* text-align: center; */
    color: #ffba00;
  }
}
@media (max-width: 940px) {
  .text-crypto {
    font-size: 60px;
    color: white;
    text-align: center;
  }
  .marign-responsive {
    margin-top: 50px;
  }

  .text-blockchain {
    font-size: 40px;
    text-align: center;
    color: #ffba00;
  }
  .btn-responsive {
    margin-top: 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .text-crypto {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .text-blockchain {
    font-size: 29px;
    text-align: center;
    color: #ffba00;
  }
}
@media (max-width: 768px) {
  .text-crypto {
    font-size: 30px;
    color: white;
    text-align: center;
  }

  .text-blockchain {
    font-size: 20px;
    text-align: center;
    color: #ffba00;
  }
}

