.text-life {
  font-size: 50px;
  color: #fff;
  text-align: center;
}
.text-blockchaintechnology {
  font-size: 20px;
  color: #ffffff57;
  text-align: center;
}
.text-counter {
  font-size: 50px;
  font-weight: bold;
  color: #ffba00;
}
.text-marketPrice {
  font-size: 30px;
  font-weight: 800;
  color: #fff;
}
/* .border-box{
    border-bottom: #ffba00 2px solid;
} */
/* .border-box::after{
    position: absolute;
    content:"" ;
    width: 100px;
    border-bottom: #ffba00 3px solid;


} */
.border-box {
  width: 80px;
  height: 4px;
  background-color: #3d434f;
  border-radius: 5px;
  margin: 10px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.border-box:hover {
    width: 100%;
    height: 4px;
    background-color: #ffba00;
    border-radius: 5px;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
@media(max-width:600px){
  .text-life{
    font-size: 25px;
  }
  .text-counter {
    font-size: 30px;
    font-weight: bold;
    color: #ffba00;
  }
  .text-marketPrice {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
  }
  .text-claritas {
    font-size: 15px;
    color: #ffffff57;
    text-align: center;
  }
}